@font-face {
  font-family: 'Circe';
  src: url('fonts/Circe-Regular.eot');
  src: url('fonts/Circe-Regular.eot') format('eot'), url('fonts/Circe-Regular.svg') format('svg'), url('fonts/Circe-Regular.ttf') format('truetype'), url('fonts/Circe-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Circe', 'san-serif';
}
html *,
body * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html *::after,
body *::after,
html *::before,
body *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
}
html * :active,
body * :active,
html * :hover,
body * :hover,
html * :focus,
body * :focus {
  outline: 0;
  outline-offset: 0;
}
html h1,
body h1,
html h2,
body h2,
html h3,
body h3,
html p,
body p {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  /* убираем подчеркивания*/
  color: inherit;
}
ul {
  list-style: none;
  /* убираем маркировку списка*/
}
.t-uppercase {
  text-transform: uppercase;
}
.f {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.f-row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}
.f-col {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
}
.f-wrap {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.title-style {
  padding: 0 20px;
  text-align: right;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: calc(8px);
  line-height: 1.795;
}
@media screen and (max-width: 1024px) {
  .title-style {
    padding: 0 10px;
    font-size: 32px;
    letter-spacing: calc(4.48px);
    line-height: 1.375;
  }
}
@media screen and (max-width: 320px) {
  .title-style {
    font-size: 25px;
    letter-spacing: calc(3.5px);
    line-height: 1.36;
  }
}
.rate-style {
  font-size: 90px;
  font-weight: 900;
  line-height: calc(0.66666667);
  vertical-align: middle;
}
.rate-style + p {
  font-size: 18px;
  font-weight: 600;
  line-height: calc(1.38888889);
}
@media screen and (max-width: 1024px) {
  .rate-style {
    font-size: 65px;
    line-height: calc(0.92307692);
  }
  .rate-style + p {
    font-size: 16px;
    line-height: calc(1.5625);
  }
}
@media screen and (max-width: 320px) {
  .rate-style {
    font-size: 50px;
    line-height: calc(1.2);
  }
  .rate-style + p {
    font-size: 16px;
    line-height: calc(1.25);
  }
}
:root {
  --header_pad: 60px;
  --header_h8: 900px;
}
@media screen and (max-width: 1024px) {
  :root {
    --header_pad: 30px;
  }
}
@media screen and (max-width: 320px) {
  :root {
    --header_pad: 10px;
  }
}
header {
  width: 100%;
  background-color: #505050;
}
#main {
  height: 700px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
#main .wrapper {
  padding: var(--header_pad) var(--header_pad) 0px;
}
@media screen and (max-width: 320px) {
  #main .wrapper {
    padding: 0;
  }
}
.nav-bar_h8 {
  height: 200px;
}
.nav-bar {
  position: relative;
  z-index: 10;
}
.nav-bar #menu-toggle {
  display: none;
}
.nav-bar {
  width: 440px;
  color: white;
}
@media screen and (max-width: 1024px) {
  .nav-bar {
    width: 380px;
  }
}
.nav-bar label {
  width: 440px;
  background: black;
  height: 80px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  position: fixed;
}
@media screen and (max-width: 1024px) {
  .nav-bar label {
    width: 380px;
    height: 60px;
  }
}
@media screen and (max-width: 320px) {
  .nav-bar label {
    width: 100%;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    height: 48px;
    padding-left: 10px;
  }
}
.nav-bar label .burger {
  cursor: pointer;
  background: black;
  width: 90px;
  border-right: 5px solid #505050;
  display: flex;
}
.nav-bar label .burger .burger-gradient {
  margin: auto;
  height: 24px;
  width: 35px;
  background: linear-gradient(#ffffff 12.5%, transparent 12.5%, transparent 43.75%, #ffffff 43.75%, #ffffff 56.25%, transparent 56.25%, transparent 87.5%, #ffffff 87.5%);
}
@media screen and (max-width: 1024px) {
  .nav-bar label .burger .burger-gradient {
    height: 20px;
    width: 30px;
  }
}
@media screen and (max-width: 320px) {
  .nav-bar label .burger {
    border: none;
    width: 40px;
  }
  .nav-bar label .burger .burger-gradient {
    height: 16px;
    width: 24px;
  }
}
.nav-bar label h1 {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: calc(8px);
  line-height: 2;
  margin: auto;
}
@media screen and (max-width: 1024px) {
  .nav-bar label h1 {
    font-size: 32px;
    letter-spacing: calc(6.4px);
    line-height: 1.375;
  }
}
@media screen and (max-width: 320px) {
  .nav-bar label h1 {
    font-size: 20px;
    letter-spacing: calc(6.4px);
    line-height: 1.875;
    margin: auto 0;
    margin-right: 5px;
  }
}
.nav-bar ul {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  text-align: center;
  border-top: 5px solid #505050;
  width: 0;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 80px;
}
.nav-bar ul li {
  width: 100%;
  background: black;
  border-bottom: 2px solid #949494;
}
.nav-bar ul li:last-child {
  border-bottom: none;
}
.nav-bar ul li a {
  font-size: 40px;
  font-weight: 900;
  letter-spacing: calc(5.6px);
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -ms-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}
@media screen and (max-width: 1024px) {
  .nav-bar ul {
    top: 60px;
  }
}
@media screen and (max-width: 320px) {
  .nav-bar ul {
    top: 48px;
    border-top: 2px dotted white;
  }
  .nav-bar ul li {
    text-align: left;
    border-width: 1px;
  }
  .nav-bar ul li a {
    padding-left: 15.5px;
  }
}
@media screen and (max-width: 320px) {
  .nav-bar {
    width: 100%;
  }
}
#menu-toggle:checked ~ ul {
  width: 440px;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 1s ease-in, width 1.2s ease, top 0s;
  -moz-transition: all 1s ease-in, width 1.2s ease, top 0s;
  -ms-transition: all 1s ease-in, width 1.2s ease, top 0s;
  -o-transition: all 1s ease-in, width 1.2s ease, top 0s;
  transition: all 1s ease-in, width 1.2s ease, top 0s;
  position: fixed;
  top: 140px;
}
@media screen and (max-width: 1024px) {
  #menu-toggle:checked ~ ul {
    width: 380px;
    top: 90px;
  }
}
@media screen and (max-width: 320px) {
  #menu-toggle:checked ~ ul {
    width: 100%;
    top: 48px;
  }
}
.header-title {
  padding: 0 var(--header_pad) 23px;
  position: relative;
  z-index: 5;
}
@media screen and (max-width: 320px) {
  .header-title {
    background: black;
  }
  .header-title .bg-gradient {
    background-image: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    position: absolute;
    width: 100%;
    height: 100px;
    top: -100px;
    left: 0;
    z-index: 2;
  }
}
.header-title h2 {
  text-transform: uppercase;
  padding: 0 20px;
  text-align: right;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: calc(8px);
  line-height: 1.795;
  color: black;
  background-color: white;
  display: inline-block;
  vertical-align: middle;
}
@media screen and (max-width: 1024px) {
  .header-title h2 {
    padding: 0 10px;
    font-size: 32px;
    letter-spacing: calc(4.48px);
    line-height: 1.375;
  }
}
@media screen and (max-width: 320px) {
  .header-title h2 {
    font-size: 25px;
    letter-spacing: calc(3.5px);
    line-height: 1.36;
  }
}
@media screen and (max-width: 320px) {
  .header-title h2 {
    padding: 0 10px;
  }
}
.header-title p {
  color: white;
  font-size: 22px;
  line-height: 1.818;
  text-align: left;
  width: 836px;
}
@media screen and (max-width: 1024px) {
  .header-title p {
    width: 786px;
  }
}
@media screen and (max-width: 320px) {
  .header-title p {
    width: 100%;
    font-size: 18px;
  }
}
.statistics {
  height: 400px;
  padding: 0 var(--header_pad);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-items: center;
  align-items: center;
}
.statistics span {
  font-size: 90px;
  font-weight: 900;
  line-height: calc(0.66666667);
  vertical-align: middle;
  color: #bb172b;
  display: inline-block;
  margin-bottom: 45px;
}
.statistics span + p {
  font-size: 18px;
  font-weight: 600;
  line-height: calc(1.38888889);
}
@media screen and (max-width: 1024px) {
  .statistics span {
    font-size: 65px;
    line-height: calc(0.92307692);
  }
  .statistics span + p {
    font-size: 16px;
    line-height: calc(1.5625);
  }
}
@media screen and (max-width: 320px) {
  .statistics span {
    font-size: 50px;
    line-height: calc(1.2);
  }
  .statistics span + p {
    font-size: 16px;
    line-height: calc(1.25);
  }
}
.statistics p {
  position: relative;
}
.statistics p::before {
  display: inline-block;
  position: absolute;
  content: "";
  width: 220px;
  top: -20px;
  left: 2px;
  border-bottom-style: dotted;
  border-bottom-width: 3px;
  border-color: rgba(0, 0, 0, 0.31);
}
@media screen and (max-width: 1024px) {
  .statistics p::before {
    width: 200px;
  }
}
@media screen and (max-width: 320px) {
  .statistics p::before {
    width: 130px;
    top: -25px;
  }
}
@media screen and (max-width: 1024px) {
  .statistics {
    height: 250px;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
}
@media screen and (max-width: 320px) {
  .statistics {
    height: 300px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
  .statistics span {
    margin-bottom: 30px;
  }
  .statistics .stat-item {
    width: 50%;
  }
}
section.offer {
  background: url(../image/offer-bg.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 1280px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}
section.offer article {
  height: 100%;
  padding: 130px 0 180px 550px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
@media screen and (max-width: 1024px) {
  section.offer {
    height: 950px;
  }
  section.offer article {
    padding: 50px 0 50px 200px;
    -webkit-justify-content: space-around;
    justify-content: space-around;
  }
}
@media screen and (max-width: 320px) {
  section.offer article {
    max-width: 100%;
    padding: 0 10px 20px 10px ;
  }
}
section.offer h2 {
  text-transform: uppercase;
  padding: 0 20px;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: calc(8px);
  line-height: 1.795;
  color: white;
  background-color: black;
  text-align: right;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  padding: 0 26px;
}
@media screen and (max-width: 1024px) {
  section.offer h2 {
    padding: 0 10px;
    font-size: 32px;
    letter-spacing: calc(4.48px);
    line-height: 1.375;
  }
}
@media screen and (max-width: 320px) {
  section.offer h2 {
    font-size: 25px;
    letter-spacing: calc(3.5px);
    line-height: 1.36;
  }
}
section.offer ul {
  counter-reset: section;
  padding-left: 60px;
}
@media screen and (max-width: 320px) {
  section.offer ul {
    padding-left: 40px;
  }
}
section.offer ul li {
  font-size: 22px;
  line-height: 34px;
  margin-bottom: 50px;
  position: relative;
  counter-increment: section;
}
@media screen and (max-width: 1024px) {
  section.offer ul li {
    font-size: 20px;
    line-height: 34px;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 320px) {
  section.offer ul li {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 25px;
  }
}
section.offer ul li:last-child {
  margin-bottom: 0;
}
section.offer ul li::before {
  display: inline-block;
  position: absolute;
  left: -60px;
  content: counter(section);
  font-weight: 900;
  color: #bb172b;
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  line-height: 1.75;
  width: 32px;
  height: 32px;
  border-width: 3px;
  border-style: solid;
  border-radius: 50%;
  border-color: rgba(0, 0, 0, 0.149);
}
@media screen and (max-width: 320px) {
  section.offer ul li::before {
    left: -38px;
    width: 28px;
    height: 28px;
    line-height: 25px;
  }
}
section.offer span {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 1.8px;
  line-height: calc(1.38888889);
  color: #bb9975;
  width: auto;
}
section.offer span a {
  position: relative;
  cursor: pointer;
}
section.offer span a::after {
  display: inline-block;
  position: absolute;
  content: url(../image/arrow-right.png);
  right: -30px;
}
section.offer span a::before {
  position: absolute;
  content: "";
  width: 0;
  opacity: 0;
  bottom: -4px;
  border-width: 2px;
  border-style: solid;
  border-color: #bb172b;
  -webkit-transition: 1s ease-out;
  -moz-transition: 1s ease-out;
  -ms-transition: 1s ease-out;
  -o-transition: 1s ease-out;
  transition: 1s ease-out;
}
section.offer span a:hover::before {
  width: 95%;
  opacity: .7;
}
@media screen and (max-width: 1024px) {
  section.offer span {
    font-size: 16px;
    letter-spacing: 1.6px;
  }
}
@media screen and (max-width: 320px) {
  section.offer span {
    max-width: 90%;
  }
}
section.franchise {
  background: black;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  padding: 100px 0px 100px 0px;
  height: 700px;
}
section.franchise h2 {
  padding: 0 20px;
  text-align: right;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: calc(8px);
  line-height: 1.795;
  text-transform: uppercase;
  color: black;
  background-color: white;
  padding: 0 26px;
}
@media screen and (max-width: 1024px) {
  section.franchise h2 {
    padding: 0 10px;
    font-size: 32px;
    letter-spacing: calc(4.48px);
    line-height: 1.375;
  }
}
@media screen and (max-width: 320px) {
  section.franchise h2 {
    font-size: 25px;
    letter-spacing: calc(3.5px);
    line-height: 1.36;
  }
}
section.franchise .conditions {
  color: white;
  width: 70%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
section.franchise .conditions span {
  font-size: 90px;
  font-weight: 900;
  line-height: calc(0.66666667);
  vertical-align: middle;
  margin-bottom: 45px;
  line-height: 1;
  display: inline-block;
  position: relative;
}
section.franchise .conditions span + p {
  font-size: 18px;
  font-weight: 600;
  line-height: calc(1.38888889);
}
@media screen and (max-width: 1024px) {
  section.franchise .conditions span {
    font-size: 65px;
    line-height: calc(0.92307692);
  }
  section.franchise .conditions span + p {
    font-size: 16px;
    line-height: calc(1.5625);
  }
}
@media screen and (max-width: 320px) {
  section.franchise .conditions span {
    font-size: 50px;
    line-height: calc(1.2);
  }
  section.franchise .conditions span + p {
    font-size: 16px;
    line-height: calc(1.25);
  }
}
section.franchise .conditions span b {
  text-transform: uppercase;
  margin-left: 10px;
  font-size: 20px;
  letter-spacing: calc(2px);
}
section.franchise .conditions p {
  width: 350px;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 1.5px;
  position: relative;
}
@media screen and (max-width: 1024px) {
  section.franchise .conditions p {
    font-size: 16px;
    width: 300px;
  }
}
@media screen and (max-width: 320px) {
  section.franchise .conditions p {
    font-size: 16px;
    width: 100%;
  }
}
section.franchise .conditions p::before {
  display: inline-block;
  position: absolute;
  content: "";
  width: 100%;
  top: -25px;
  left: 2px;
  border-bottom-style: dotted;
  border-bottom-width: 3px;
  border-color: rgba(255, 255, 255, 0.3);
}
@media screen and (max-width: 1024px) {
  section.franchise {
    padding: 60px 0 60px 0;
    height: 500px;
  }
  section.franchise .conditions {
    width: 95%;
  }
}
@media screen and (max-width: 320px) {
  section.franchise {
    padding: 30px 10px 40px 10px;
    height: auto;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }
  section.franchise h2 {
    padding: 0 10px;
  }
  section.franchise .conditions {
    margin-top: 30px;
    width: 100%;
    height: 450px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
  }
  section.franchise .conditions span {
    margin-bottom: 24px;
  }
  section.franchise .conditions span b {
    font-size: 16px;
  }
  section.franchise .conditions p::before {
    top: -18px;
  }
}
section#form {
  background: white;
  padding: 100px 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-align-items: center;
  align-items: center;
}
section#form h2 {
  padding: 0 20px;
  text-align: right;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: calc(8px);
  line-height: 1.795;
  text-transform: uppercase;
  color: white;
  background: black;
  margin-bottom: 50px;
}
@media screen and (max-width: 1024px) {
  section#form h2 {
    padding: 0 10px;
    font-size: 32px;
    letter-spacing: calc(4.48px);
    line-height: 1.375;
  }
}
@media screen and (max-width: 320px) {
  section#form h2 {
    font-size: 25px;
    letter-spacing: calc(3.5px);
    line-height: 1.36;
  }
}
section#form .form {
  width: 70%;
  height: 600px;
  border: 3px dotted #949494;
}
section#form form.wrapper {
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: space-between;
  align-items: space-between;
  padding: 50px 10%;
}
section#form .form-item {
  width: 45%;
  height: 60px;
  padding: 20px 10px 0;
  border-bottom: 3px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.4s ease-out;
  -moz-transition: 0.4s ease-out;
  -ms-transition: 0.4s ease-out;
  -o-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}
@media screen and (min-width: 321px) {
  section#form .form-item:active,
  section#form .form-item:hover,
  section#form .form-item:focus {
    border-color: #000000;
    -webkit-box-shadow: inset 0 0 0 4px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 0 4px rgba(0, 0, 0, 0.1);
  }
}
section#form .form-item.form-item_name {
  border-color: #000000;
}
section#form .form-item.form-item_name input::placeholder {
  color: black;
  opacity: 1;
}
section#form .form-item.form-item_message {
  width: 100%;
  height: 100px;
}
section#form input {
  font-size: 20px;
  font-weight: 500;
  color: #000000;
  border: none;
}
section#form input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}
section#form input:active section#form input {
  border-color: #000000;
}
section#form textarea {
  width: 100%;
  resize: none;
  margin: auto;
  font-size: 20px;
  font-weight: 500;
  color: #000000;
  border: none;
}
section#form textarea::placeholder {
  color: rgba(0, 0, 0, 0.3);
}
section#form .submit-btn {
  width: 40%;
}
section#form .submit-btn .btn {
  text-transform: uppercase;
  width: 100%;
  border: 3px solid #bb9975;
  background: white;
  color: #bb9975;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: calc(2px);
  line-height: 70px;
  cursor: pointer;
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  -ms-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}
section#form .submit-btn .btn:hover {
  color: white;
  border-color: white;
  background: #bb9975;
  -webkit-box-shadow: 0 0 0px 3px #bb9975;
  box-shadow: 0 0 0px 3px #bb9975;
}
section#form .submit-btn p {
  font-size: 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 20px;
}
@media screen and (max-width: 1024px) {
  section#form {
    padding: 50px 30px;
  }
  section#form h2 {
    margin-bottom: 40px;
  }
  section#form .form {
    width: 100%;
  }
}
@media screen and (max-width: 320px) {
  section#form {
    padding: 20px 10px;
  }
  section#form h2 {
    margin-bottom: 0;
  }
  section#form .form {
    border: none;
  }
  section#form form.wrapper {
    height: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-justify-content: center;
    justify-content: center;
    padding: 10px 0;
  }
  section#form .form-item {
    width: 100%;
    margin-bottom: 25px;
    padding: 10px 0 10px 0;
    height: auto;
  }
  section#form .form-item.form-item_message {
    height: auto;
  }
  section#form .my-recaptcha {
    margin-bottom: 25px;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
  }
  section#form .submit-btn {
    width: 100%;
    margin-bottom: 25px;
  }
  section#form .submit-btn p {
    margin-top: 10px;
  }
}
footer {
  background: black;
  color: white;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}
footer .footer-wrapper {
  margin: auto;
  width: 80%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-align-items: center;
  align-items: center;
}
footer .contact,
footer .footer-nav,
footer .social {
  width: 100%;
  border-bottom: 3px solid rgba(255, 255, 255, 0.1);
  padding: 30px 0;
}
footer .contact {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-justify-content: center;
  justify-content: center;
}
footer .contact a {
  font-size: 18px;
  color: white;
  position: relative;
  -webkit-transition: .4s ease;
  -moz-transition: .4s ease;
  -ms-transition: .4s ease;
  -o-transition: .4s ease;
  transition: .4s ease;
}
footer .contact a::before {
  content: url(../image/phone.png);
  display: inline-block;
  position: absolute;
  left: -35px;
  top: 3px;
  vertical-align: middle;
}
footer .contact a:last-child {
  color: #949494;
  margin-left: 100px;
}
footer .contact a:last-child::before {
  content: url(../image/mail.png);
}
footer .contact a:hover {
  color: #bb172b;
}
footer .footer-nav {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-justify-content: center;
  justify-content: center;
}
footer .footer-nav li {
  font-size: 18px;
  margin-right: 50px;
  -webkit-transition: .4s ease;
  -moz-transition: .4s ease;
  -ms-transition: .4s ease;
  -o-transition: .4s ease;
  transition: .4s ease;
}
footer .footer-nav li:hover {
  color: #bb172b !important;
}
footer .social {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-justify-content: center;
  justify-content: center;
}
footer .social li {
  height: 60px;
  width: 15%;
  border-right: 3px solid rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
footer .social li:last-child {
  border: none;
}
footer .social li a {
  margin: auto;
}
footer p {
  font-size: 18px;
  color: #505050;
  padding: 15px 0;
}
@media screen and (max-width: 1024px) {
  footer .footer-wrapper {
    width: 95%;
    font-size: 16px;
  }
  footer .footer-wrapper .contact,
  footer .footer-wrapper .footer-nav,
  footer .footer-wrapper .social {
    width: 100%;
    border-bottom: 3px solid rgba(255, 255, 255, 0.1);
    padding: 20px 0;
  }
  footer .footer-wrapper p {
    padding: 10px 0;
  }
  footer .footer-wrapper .footer-nav {
    padding: 20px 100px;
  }
  footer .footer-wrapper .footer-nav li {
    margin-right: 30px;
  }
  footer .footer-wrapper .social li {
    width: 20%;
  }
}
@media screen and (max-width: 320px) {
  footer .footer-wrapper {
    width: 95%;
    -webkit-align-items: flex-start;
    align-items: flex-start;
  }
  footer .footer-wrapper .contact,
  footer .footer-wrapper .footer-nav,
  footer .footer-wrapper .social {
    width: 100%;
  }
  footer .footer-wrapper .contact {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    padding-left: 36px;
  }
  footer .footer-wrapper .contact a {
    margin: 0;
  }
  footer .footer-wrapper .contact a:first-child {
    margin-bottom: 20px;
  }
  footer .footer-wrapper .footer-nav {
    height: 140px;
    padding: 20px 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  footer .footer-wrapper .footer-nav li {
    margin-bottom: 5px;
  }
  footer .footer-wrapper .social li {
    width: 20%;
    height: auto;
    border: none;
  }
  footer .footer-wrapper .social li img {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
  }
}
